.app {
  text-align: center;
}

.app_logo {
  animation: app_logo_spin infinite 20s linear;
  height: 80px;
}

.app_header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app_intro {
  font-size: large;
}

@keyframes app_logo_spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todo_app {
  width: 400px;
  margin: 40px auto;
  text-align: left;
  font-size: 18px;
}

.new_todo_field {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
}

.todo_list ul {
  padding: 0;
  list-style: none;
}

.todo_list .todo_item {
    line-height: 24px;
}

.todo_list .todo_item:hover .remove_button {
    visibility: visible;
}

.remove_button {
    margin: 3px 5px 0 0;
    text-decoration: none;
    padding: 0 4px;
    color: #8b0000;
    border: 1px solid #8b0000;
    background-color: rgba(139, 0, 0, 0.5);
    border-radius: 3px;
    font-size: 12px;
    vertical-align: top;
    line-height: normal;
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
}

.message {
  display: inline-block;
  width: 100%;
  padding: 7px 20px;
  font-size: 13px;
  margin-bottom: 10px;
}

.message.error {
  color: #8b0000;
  background-color: rgba(139, 0, 0, 0.5);
  border: 1px solid #8b0000;
}

.message.success {
  color: #4cae4c;
  background-color: rgba(76, 174, 76, 0.3);
  border: 1px solid #4cae4c;
}

.filter a {
    font-size: 14px;
    color: darkgreen;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.filter a.active {
    color: limegreen;
}
